[slack]

#OAuth Access Token
token=

#Bot User OAuth Access Token
bot_token=

#The id of the user group that should be added to new channels
group_id=

#A statement that will be added to the beginning of all Slack messages
message_prefix=

[twilio]

#Twilio account SID
sid=

#Twilio account AUTH token
token=

#Number owned by the Twilio account which messages should be sent from
number=

#A statement that will be added to the beginning of all outgoing text messages
message_prefix=